<!--Modal adquisicion data-backdrop="static" data-keyboard="false"-->
<button *ngIf='isShow' #btnshow data-toggle="modal" data-target="#config_sistema" data-backdrop="static" data-keyboard="false" class='d-none' ></button>
<style>.modal{background: rgba(47, 47, 47, 0.52);} </style>
<div  *ngIf='isShow' class="modal fade" id="config_sistema" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl " role="document">
        <div class="modal-content">
            
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLongTitle">Cambiar Sucursal</h5>
              
                <button #btnclose (click)='close()' type="button" class="close"  aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <hr class='line w-100 m-0' style='border-radius: 0px'>
            <div class="modal-body bg-white ">
                <app-info ></app-info>
                <app-loading></app-loading>
                <app-alert></app-alert>
                <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
                        <div class="col-12 mx-auto col-sm-10 my-3">
                            <div class="d-flex align-items-center">
                                <label class="mr-2" for="">Sucursal: </label>
                                <ng-select [(ngModel)]="sucursal" class="w-100" [items]="sucursales" bindLabel="nombre" bindValue="idsucursal"></ng-select>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="col-12">
                            <div class="d-flex align-items-center">
                                <button (click)="SaveConfig()" class="btn btn-primary mr-auto">Guardar</button>
                                <button class="btn btn-secondary" (click)="close()">Cerrar</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

