.table-container {
    width: 100%;
    overflow-x: auto;
    /* Permite desplazamiento en pantallas pequeñas */
    max-width: 100%;
}


::ng-deep table.mat-table {
  table-layout: fixed;
  width: 100%;
}
::ng-deep .mat-cell, 
::ng-deep .mat-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}