<h1 mat-dialog-title>
    Guia Salida
</h1>

<div mat-dialog-content>
    <ng-template #loadingSpinner aria-hidden="true">
        <div class="spinner-container">
            <mat-progress-spinner mode="indeterminate" diameter="48">
            </mat-progress-spinner>
        </div>
    </ng-template>

    <form *ngIf="!loading else loadingSpinner" [formGroup]="guiaSalidaForm">
        <div class="info-grid">

            <!-- Fila 1: 5 campos -->
            <div class="row-1">
                <div class="info-item">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Fecha</mat-label>
                        <input matInput formControlName="fecha_guia" type="text" readonly>
                    </mat-form-field>
                </div>

                <div class="info-item">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Hora</mat-label>
                        <input matInput formControlName="hora" type="text" readonly>
                    </mat-form-field>
                </div>

                <div class="info-item">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Cliente</mat-label>
                        <ng-select [items]="cliente" bindLabel="nombrecompleto"
                            [loading]="loading" [typeToSearchText]="'Escribe para buscar...'"
                            (search)="onSearch($event.term)" [(ngModel)]="selectedCliente">
                        </ng-select>
                    </mat-form-field>
                </div>
<!--                 <div *ngIf="usuario.nivel_usuario === '1' " class="info-item">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Sucursal</mat-label>
                        <mat-select formControlName="establecimiento" required>
                            <mat-option *ngFor="let s of establecimientos" [value]="s.idsucursal">{{ s.nombre
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
            </div>

            <!-- Fila 2 -->
            <div class="row-2">
                <div class="info-item">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Establecimiento</mat-label>
                    <mat-select formControlName="sucursal" required>
                    <mat-option *ngFor="let s of sucursales" [value]="s.idsucursal">
                        {{ s.nombre }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="info-item">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Establecimiento</mat-label>
                    <mat-select formControlName="sucursal" required>
                    <mat-option *ngFor="let s of sucursales" [value]="s.idsucursal">
                        {{ s.nombre }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Localidad</mat-label>
                    <input matInput formControlName="localidad" type="text" required>
                </mat-form-field>                
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Provincia</mat-label>
                    <input matInput formControlName="provincia" type="text" required>
                </mat-form-field>  
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Ciudad</mat-label>
                    <input matInput formControlName="ciudad" type="text" required>
                </mat-form-field>                                
            </div>
            
            <!-- Fila 3 -->
            <div class="row-3">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Distrito</mat-label>
                    <input matInput formControlName="distrito" type="text" required>
                </mat-form-field> 
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Nacional</mat-label>
                    <input matInput formControlName="nacional" type="text" required>
                </mat-form-field> 
            </div>
        </div>
    </form>
</div>



<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="guiaSalidaForm.invalid || loading">
        <mat-icon>save</mat-icon> {{ editMode ? 'Actualizar' : 'Guardar' }}
    </button>
</div>